﻿@*@model IEnumerable<RssData.Models.Source>
@{
    ViewData["Title"] = "Home Page";
}

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Show
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.SourceName, "Index","Home",new {filt = item.SourceName},new { @class = "dropdown-item" })
        };
    </div>
</div>




<form asp-action="Index" asp-controller="Home" method="post" id="sortForm">
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="sort" value="Date">
        <label class="custom-control-label" for="defaultGroupExample1">Sort By Date</label>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="sort" value="Source">
        <label class="custom-control-label" for="defaultGroupExample2">Sort By Source</label>
    </div>

    <button type="submit" class="btn btn-success">Sort</button>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>SourceName</th>
            <th>NewsName</th>
            <th>Description</th>
            <th>PublishDate</th>
        </tr>
    </thead>
    <tbody>
       @foreach()
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">@Html.ActionLink("Previous", "Index", "Home", new { start = ViewBag.start - ViewBag.size, size = ViewBag.size }, new { @class = "page-link" })</li>
        <li class="page-item">@Html.ActionLink("Next", "Index", "Home", new { start = ViewBag.start + ViewBag.size, size = ViewBag.size }, new { @class = "page-link" })</li>
    </ul>
</nav>


</script>*@